@import"https://fonts.googleapis.com/css2?family=Vollkorn:ital,wght@0,400..900;1,400..900&display=swap";
@import"https://fonts.googleapis.com/css2?family=Alegreya:ital,wght@0,400..900;1,400..900&display=swap";


/*
 * Body
 */
body {
    background-color: #ffffff;
    font-family: 'EB Garamond', Vollkorn, Alegreya, sans-serif, 'Noto Sans', 'Cormorant Garamond', -apple-system, Inter, BlinkMacSystemFont, Helvetica, Arial, "Apple Color Emoji", "Segoe UI Emoji";
    line-height: 1.5;
    width: 73.5%;
    margin: 0 auto;
    font-size: 15px;
}

a:link,
a:visited,
a:hover,
a:active {
    color: #ce534d;
    text-decoration: none
}

a.hover:hover {
    text-decoration: underline;
    text-decoration-style: dashed;
}


.by {
    width: 100%;
    text-align: left;
    margin-top: 50px;
}

.layout {
    display: grid;
    grid-template-columns: 1fr 5fr;
    grid-template-rows: 185px auto auto;
    align-content: flex-start;
    gap: 60px
}

.layout-item {
    border: 0 solid;
    padding: 5px
}

.layout-head {
    border: 0 solid;
    border-radius: 5px;
    padding: 25px;
}

.layout-footer {
    margin: 200px 0 20px 0;
}

.layout-reference {
    border: 0 solid;
    border-bottom-width: thin;
    padding: 5px;
    text-align: right;
    align-content: flex-end;
    font-size: medium;
}

.layout-reference-parts {
    margin-top: 5px;
    margin-bottom: 5px;
}

h2 {
    font-variant: small-caps;
}

.project-head {
    margin-left: 65px;
}

h3 {
    font-variant: small-caps;
}

dl {
    font-size: 15px;
}

dt {
    font-weight: bold;
    margin-top: 25px;
}

dd {
    margin-bottom: 16px;
    margin-left: 15px;
}


/* List */
ul.parent {
    list-style-type: none;
    padding: 15px;
}

ul.child {
    list-style-type: none;
    padding: 1px 15px 15px 9px;
}

li {
    margin: 8px;
}

/* iframe */
iframe {
    border: 0;
}

/* Caption */
caption {
    caption-side: bottom;
    text-align: left;
}

/* wrapper stays 480px wide past 480px wide, centred */
@media (min-width: 480px) {

    .wrapper {
        width: 480px;
        margin: 10% auto 0 auto;
    }
}


/* Beyond 768px the layout is changed and the wrapper has a fixed width of 680px.
 *
 * To accommodate both the header column and the content column
 * the header column stays left and has a dynamic width with all
 * contents aligned right.
 */
@media (min-width:768px) {

    .wrapper {
        width: 680px;
    }

    header {
        float: left;
        width: 46%;
        text-align: right;
    }

    body {
        width: 73.5%;
        padding: 0 20px
    }

    a {
        padding: 0 2px 0 2px;
    }

}


/**
 * Address `overflow` set to `hidden` in IE 8/9/10/11.
 */
button {
    overflow: visible;
}


/**
 * Address inconsistent `text-transform` inheritance for `button` and `select`.
 * All other form control elements do not inherit `text-transform` values.
 * Correct `button` style inheritance in Firefox, IE 8/9/10/11, and Opera.
 * Correct `select` style inheritance in Firefox.
 */
button,
select {
    text-transform: none;
    margin-left: 5px;
    border: none;
    font-family: Inter, sans-serif, 'Noto Sans', 'Cormorant Garamond', 'EB Garamond', Vollkorn;
}


/* Case https://cdnjs.com/libraries/select2 */
.select2-container--default .select2-selection--single .select2-selection__rendered {
    font-size: 15px;
    padding-top: 5px;
}

.select2-container--default .select2-selection--single {
  background-color:#ffffff;
  color: #656565;
  display: block;  
  border: 0;
  border-radius: 3px;
  border-left: 4px solid #739cda;
  box-shadow: 1px 1px 2px rgba(0,0,0,0.3);
}

.select2-container--default, .select2-selection--single {
    margin-left: 10px;
}

.select2-container--default .select2-selection--single .select2-selection__arrow {
  height: 26px;
  position: absolute;
  top: -5px;
  right: 1px;
  width: 20px
}

.select2-container .select2-selection--single {
    height: 39px;
}



/* Case https://cdnjs.com/libraries/highstock, https://cdnjs.com/libraries/highcharts */
.highcharts-axis-resizer {
    stroke-width: 1pt;
    stroke: black;
}
