@import url('https://fonts.googleapis.com/css2?family=Vollkorn:ital,wght@0,400..900;1,400..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+Display:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

/*
 * Body
 */
body {
    background-color: #ffffff;
    font-family: "Noto Sans Display", sans-serif, Inter, 'Cormorant Garamond', 'EB Garamond', Vollkorn, -apple-system, Inter, BlinkMacSystemFont, Helvetica, Arial, "Apple Color Emoji", "Segoe UI Emoji";
    line-height: 1.5;
    width: 1300px;
    margin: auto;
    font-size: 15px;
}

a:link,
a:visited,
a:hover,
a:active {
    color: #ce534d;
    text-decoration: none
}

img {
    width: 100%
}

.by {
    width: 100%;
    text-align: left;
    margin-top: 50px;
}

.layout {
    display: grid;
    grid-template-columns: 2fr 5fr;
    grid-template-rows: 185px auto auto;
    align-content: flex-start;
    gap: 35px
}

.layout-item {
    border: 0 solid;
    padding: 5px
}

.layout-head {
    border: 0 solid;
    border-radius: 5px;
    padding: 25px;
}

.layout-footer {
    margin: 200px 0 20px 0;
}

.layout-reference {
    border: 0 solid;    
    border-bottom-width: thin;    
    padding: 5px;
    text-align: right;
    align-content: flex-end;
    font-size: 15px;
}

.layout-reference-parts {
    margin-top: 5px;
    margin-bottom: 5px;
}

.highcharts-legend-box {
    width: 235px;
}

h2 {
    font-variant: small-caps;
}

h3 {
    font-variant: small-caps;
}

dl {
    font-size: 15px;
}

dt {
    font-weight: bold;
    margin-top: 25px;
}

dd {
    margin-bottom: 16px;
    margin-left: 15px;
}

/* Caption */
caption {
    caption-side: bottom;
    text-align: left;
}

/* Table */
table {
    border-collapse: collapse;
    border-spacing: 5px;
    border: 0;
    margin-left: 65px;
    margin-top: 25px;
    font-size: 15px;
}

td,
th {
    padding: 5px;
}

/* wrapper stays 480px wide past 480px wide, centred */
@media (min-width: 480px) {


    .wrapper {
      width: 480px;
      margin: 10% auto 0 auto;
    }
  }

/* Beyond 768px the layout is changed and the wrapper has a fixed width of 680px.
 *
 * To accommodate both the header column and the content column
 * the header column stays left and has a dynamic width with all
 * contents aligned right.
 */
@media (min-width:768px) {

    .wrapper {
        width: 680px;
    }

    header {
        float: left;
        width: 46%;
        text-align: right;
    }

    body {
        width: 65%;
        padding: 0 20px
    }

    a {
        padding: 0 2px 0 2px;
    }

}

/**
 * Address `overflow` set to `hidden` in IE 8/9/10/11.
 */
button {
    overflow: visible;
}

/**
 * Address inconsistent `text-transform` inheritance for `button` and `select`.
 * All other form control elements do not inherit `text-transform` values.
 * Correct `button` style inheritance in Firefox, IE 8/9/10/11, and Opera.
 * Correct `select` style inheritance in Firefox.
 */
button,
select {
    text-transform: none;
    border: none;
    font-family: Alegreya, sans-serif, 'Noto Sans', 'Cormorant Garamond', 'EB Garamond', Vollkorn;
}

#option_selector {
    display: block;
    padding: 13px 16px;
    width: 200px;
    margin: 0 8px 8px 8px;
    position: page;
    cursor: pointer;
    border-left: 4px solid #739cda;
    background: #fff;
    color: #656565;
    font-weight: normal;
    -webkit-box-shadow: 1px 1px 2px rgba(0,0,0,0.3);
    -moz-box-shadow: 1px 1px 2px rgba(0,0,0,0.3);
    box-shadow: 1px 1px 2px rgba(0,0,0,0.3);
    -webkit-transition: all 0.15s linear;
    -moz-transition: all 0.15s linear;
    -ms-transition: all 0.15s linear;
    -o-transition: all 0.15s linear;
    transition: all 0.15s linear;
}

#option_selector:hover {
    color: #100f10;
}

#option_selector:focus-within {
    border: 0;
    left: -9999px;
    top: -9999px;
    list-style-type: none;
    z-index: 0;
}