.frames-page.svelte-1jxvby2 h2:where(.svelte-1jxvby2) {
    font-size: 40px;
    margin-bottom: 5px
}

.frames-grid.svelte-1jxvby2 {
    display: grid;
    grid-template-columns: 5fr;
    align-content: flex-start;
}

.frames-grid-item.svelte-1jxvby2 {
    border: 0 solid;
    padding: 5px;
    margin-bottom: 25px;
    margin-right: 5px;
    text-align: left;
}

.frames-grid-left.svelte-1jxvby2 {
    border: 0 solid;
    padding: 25px 5px 5px 5px;
    margin-bottom: 25px;
    text-align: left;
    font-variant: small-caps;
}