@import url("https://cdn.jsdelivr.net/npm/@highcharts/grid-lite/css/grid-lite.css");

table.briefings {
    border-collapse: collapse;
    border-spacing: 35px 20px;
    border: 0;
    margin-left: 28px;
    margin-top: 25px;
    table-layout: fixed;
    width: 85%;
    text-wrap: wrap;
    vertical-align: top;
}

th, td {
    padding: 2px 5px 15px 5px;
    vertical-align: top;
}
